In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
result = pd.read_csv('ex6.csv')

In [6]:
result = pd.read_csv('ex6.csv', nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q