In [1]:
from datetime import datetime
from datetime import timedelta, time
from dateutil.parser import parse
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    0.247691
2012-06-20    0.820826
2012-06-27   -0.939141
Freq: W-WED, dtype: float64

In [3]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [4]:
ts1.resample('B', fill_method='ffill')

e:\python34\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

2012-06-13    0.247691
2012-06-14    0.247691
2012-06-15    0.247691
2012-06-18    0.247691
2012-06-19    0.247691
2012-06-20    0.820826
2012-06-21    0.820826
2012-06-22    0.820826
2012-06-25    0.820826
2012-06-26    0.820826
2012-06-27   -0.939141
Freq: B, dtype: float64

In [5]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.024, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))

In [6]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [7]:
infl

1982    0.024
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [8]:
infl_q=infl.asfreq('Q-SEP', how='end')
infl_q

1983Q1    0.024
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [9]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [10]:
rng = pd.date_range('2012-6-1 9:30', '2012-6-1 15:59', freq='T')
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-01 15:50:00', '2012-06-01 15:51:00',
               '2012-06-01 15:52:00', '2012-06-01 15:53:00',
               '2012-06-01 15:54:00', '2012-06-01 15:55:00',
               '2012-06-01 15:56:00', '2012-06-01 15:57:00',
               '2012-06-01 15:58:00', '2012-06-01 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [11]:
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-06 15:50:00', '2012-06-06 15:51:00',
               '2012-06-06 15:52:00', '2012-06-06 15:53:00',
               '2012-06-06 15:54:00', '2012-06-06 15:55:00',
               '2012-06-06 15:56:00', '2012-06-06 15:57:00',
               '2012-06-06 15:58:00', '2012-06-06 15:59:00'],
              dtype='datetime64[ns]', length=1560, freq=None)

In [12]:
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       6.0
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       9.0
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00      11.0
2012-06-01 09:42:00      12.0
2012-06-01 09:43:00      13.0
2012-06-01 09:44:00      14.0
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00      17.0
2012-06-01 09:48:00      18.0
2012-06-01 09:49:00      19.0
2012-06-01 09:50:00      20.0
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00      23.0
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00      26.0
2012-06-01 09:57:00      27.0
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00      29.0
                        ...
2012-06-06 15:30:00    1530.0
2012-06-06 15:31:00    1531.0
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00    1533.0
2012-06-06 15:34:00    1534.0
2012-06-06 15:35:00    1535.0
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00    1537.0
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00    1539.0
2012-06-06 15:40:00    1540.0
2012-06-06 15:41:00    1541.0
2012-06-06 15:42:00    1542.0
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00    1544.0
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00    1546.0
2012-06-06 15:47:00    1547.0
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00    1551.0
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00    1553.0
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [13]:
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [14]:
ts.between_time(time(10,0), time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [15]:
indexer = np.sort(np.random.permutation(len(ts))[700:])
irr_ts = ts.copy()
irr_ts[indexer] = np.nan

In [16]:
irr_ts['2012-6-1 9:50':'2012-6-1 10:00']

2012-06-01 09:50:00    20.0
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00     NaN
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00    27.0
2012-06-01 09:58:00    28.0
2012-06-01 09:59:00    29.0
2012-06-01 10:00:00     NaN
dtype: float64

In [17]:
selection = pd.date_range('2012-6-1 10:00', periods=4, freq='B')
irr_ts.asof(selection)

2012-06-01 10:00:00      29.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     801.0
2012-06-06 10:00:00    1199.0
Freq: B, dtype: float64

In [18]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('2012-6-12', periods=6))
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [19]:
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('2012-6-13', periods=6))
data2

              a    b    c
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [20]:
spliced = pd.concat([data1.loc[:'2012-6-14'], data2.loc['2012-6-15':]])
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [21]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('2012-6-13', periods=6))
spliced = pd.concat([data1.loc[:'2012-6-14'], data2.loc['2012-6-15':]])
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [22]:
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [23]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [24]:
close_px = pd.read_csv('stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('volume.csv', parse_dates=True, index_col=0)
prices = close_px.loc['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.loc['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [25]:
volume

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

In [26]:
prices*volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [27]:
vwap = (prices * volume).sum() / volume.sum()
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [28]:
prices.align(volume,join='inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [29]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN

In [30]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  three  two
f  NaN    0.0  NaN
a  0.0    1.0  NaN
c  2.0    2.0  2.0
e  NaN    NaN  3.0

In [31]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13    0.442455
2012-06-20   -0.130642
2012-06-27   -1.798367
Freq: W-WED, dtype: float64

In [32]:
ts1.resample('B')

DatetimeIndexResampler [freq=<BusinessDay>, axis=0, closed=left, label=left, convention=start, base=0]

In [33]:
ts1.resample('B', fill_method='ffill')

e:\python34\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

2012-06-13    0.442455
2012-06-14    0.442455
2012-06-15    0.442455
2012-06-18    0.442455
2012-06-19    0.442455
2012-06-20   -0.130642
2012-06-21   -0.130642
2012-06-22   -0.130642
2012-06-25   -0.130642
2012-06-26   -0.130642
2012-06-27   -1.798367
Freq: B, dtype: float64

In [34]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12   -1.084856
2012-06-17    0.283537
2012-06-18    0.592879
2012-06-21   -1.095467
2012-06-22    1.430467
2012-06-29    1.531198
dtype: float64

In [35]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.442455
2012-06-18    0.442455
2012-06-21   -0.130642
2012-06-22   -0.130642
2012-06-29   -1.798367
dtype: float64

In [36]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.725992
2012-06-18    1.035333
2012-06-21   -1.226109
2012-06-22    1.299825
2012-06-29   -0.267169
dtype: float64

In [37]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))

In [38]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [39]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [40]:
infl_q = infl.asfreq('Q-SEP', how='end')
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [41]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [43]:
rng = pd.date_range('2012-6-1 9:30', '2012-6-1 15:59', freq='T')
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-01 15:50:00', '2012-06-01 15:51:00',
               '2012-06-01 15:52:00', '2012-06-01 15:53:00',
               '2012-06-01 15:54:00', '2012-06-01 15:55:00',
               '2012-06-01 15:56:00', '2012-06-01 15:57:00',
               '2012-06-01 15:58:00', '2012-06-01 15:59:00'],
              dtype='datetime64[ns]', length=390, freq='T')

In [44]:
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
rng

DatetimeIndex(['2012-06-01 09:30:00', '2012-06-01 09:31:00',
               '2012-06-01 09:32:00', '2012-06-01 09:33:00',
               '2012-06-01 09:34:00', '2012-06-01 09:35:00',
               '2012-06-01 09:36:00', '2012-06-01 09:37:00',
               '2012-06-01 09:38:00', '2012-06-01 09:39:00',
               ...
               '2012-06-06 15:50:00', '2012-06-06 15:51:00',
               '2012-06-06 15:52:00', '2012-06-06 15:53:00',
               '2012-06-06 15:54:00', '2012-06-06 15:55:00',
               '2012-06-06 15:56:00', '2012-06-06 15:57:00',
               '2012-06-06 15:58:00', '2012-06-06 15:59:00'],
              dtype='datetime64[ns]', length=1560, freq=None)

In [45]:
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
2012-06-01 09:36:00       6.0
2012-06-01 09:37:00       7.0
2012-06-01 09:38:00       8.0
2012-06-01 09:39:00       9.0
2012-06-01 09:40:00      10.0
2012-06-01 09:41:00      11.0
2012-06-01 09:42:00      12.0
2012-06-01 09:43:00      13.0
2012-06-01 09:44:00      14.0
2012-06-01 09:45:00      15.0
2012-06-01 09:46:00      16.0
2012-06-01 09:47:00      17.0
2012-06-01 09:48:00      18.0
2012-06-01 09:49:00      19.0
2012-06-01 09:50:00      20.0
2012-06-01 09:51:00      21.0
2012-06-01 09:52:00      22.0
2012-06-01 09:53:00      23.0
2012-06-01 09:54:00      24.0
2012-06-01 09:55:00      25.0
2012-06-01 09:56:00      26.0
2012-06-01 09:57:00      27.0
2012-06-01 09:58:00      28.0
2012-06-01 09:59:00      29.0
                        ...
2012-06-06 15:30:00    1530.0
2012-06-06 15:31:00    1531.0
2012-06-06 15:32:00    1532.0
2012-06-06 15:33:00    1533.0
2012-06-06 15:34:00    1534.0
2012-06-06 15:35:00    1535.0
2012-06-06 15:36:00    1536.0
2012-06-06 15:37:00    1537.0
2012-06-06 15:38:00    1538.0
2012-06-06 15:39:00    1539.0
2012-06-06 15:40:00    1540.0
2012-06-06 15:41:00    1541.0
2012-06-06 15:42:00    1542.0
2012-06-06 15:43:00    1543.0
2012-06-06 15:44:00    1544.0
2012-06-06 15:45:00    1545.0
2012-06-06 15:46:00    1546.0
2012-06-06 15:47:00    1547.0
2012-06-06 15:48:00    1548.0
2012-06-06 15:49:00    1549.0
2012-06-06 15:50:00    1550.0
2012-06-06 15:51:00    1551.0
2012-06-06 15:52:00    1552.0
2012-06-06 15:53:00    1553.0
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
Length: 1560, dtype: float64

In [46]:
ts[time(10, 0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [47]:
ts.between_time(time(10,0), time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [50]:
indexer = np.sort(np.random.permutation(len(ts))[700:])
indexer

array([   0,    3,    7,    8,    9,   10,   11,   12,   13,   14,   18,
         19,   20,   23,   25,   26,   27,   28,   29,   30,   32,   35,
         37,   40,   42,   43,   44,   45,   47,   48,   49,   52,   53,
         55,   56,   57,   58,   60,   61,   62,   63,   65,   67,   68,
         69,   71,   73,   74,   75,   77,   78,   80,   81,   82,   83,
         85,   86,   89,   94,   95,   97,   98,   99,  100,  101,  102,
        103,  105,  106,  109,  110,  111,  112,  115,  116,  117,  118,
        121,  122,  130,  133,  134,  135,  136,  137,  140,  146,  148,
        149,  150,  151,  152,  155,  160,  161,  163,  167,  168,  173,
        175,  176,  178,  180,  181,  190,  191,  194,  196,  201,  202,
        203,  206,  209,  211,  212,  214,  216,  217,  218,  220,  221,
        225,  226,  227,  229,  231,  232,  233,  236,  239,  240,  241,
        242,  244,  245,  246,  247,  248,  249,  250,  253,  259,  260,
        261,  262,  266,  267,  268,  273,  275,  276,  277,  278,  279,
        281,  283,  286,  289,  290,  291,  294,  297,  298,  299,  302,
        305,  306,  307,  308,  309,  311,  314,  315,  316,  317,  319,
        321,  324,  326,  328,  329,  330,  334,  335,  336,  337,  338,
        340,  341,  342,  344,  345,  346,  347,  348,  349,  350,  352,
        353,  356,  360,  362,  365,  366,  367,  369,  370,  371,  372,
        373,  375,  377,  378,  381,  384,  385,  386,  388,  390,  391,
        393,  394,  395,  396,  397,  398,  400,  401,  402,  403,  405,
        406,  407,  408,  410,  411,  412,  414,  415,  417,  418,  419,
        420,  422,  424,  426,  429,  430,  431,  432,  433,  441,  445,
        446,  447,  450,  451,  452,  456,  457,  460,  468,  469,  476,
        477,  478,  479,  481,  484,  486,  488,  489,  490,  491,  493,
        495,  496,  497,  498,  499,  500,  501,  502,  503,  504,  505,
        506,  507,  508,  509,  513,  515,  516,  518,  519,  520,  521,
        522,  524,  527,  528,  529,  530,  531,  535,  536,  537,  538,
        540,  544,  545,  546,  547,  548,  550,  551,  553,  554,  556,
        557,  558,  559,  560,  563,  564,  565,  572,  573,  578,  579,
        581,  582,  584,  585,  586,  587,  589,  592,  595,  596,  600,
        601,  602,  603,  604,  605,  608,  609,  610,  611,  614,  615,
        616,  617,  618,  619,  620,  621,  622,  624,  625,  628,  629,
        631,  632,  634,  638,  639,  640,  641,  642,  643,  644,  645,
        646,  647,  648,  650,  651,  652,  653,  654,  658,  659,  662,
        663,  664,  666,  668,  669,  670,  673,  678,  682,  685,  686,
        688,  689,  690,  691,  692,  694,  695,  697,  699,  705,  707,
        708,  709,  711,  712,  713,  714,  715,  716,  719,  722,  723,
        726,  727,  729,  730,  731,  733,  740,  741,  746,  748,  749,
        750,  751,  753,  756,  757,  759,  761,  763,  767,  769,  770,
        771,  774,  776,  777,  778,  779,  782,  783,  785,  786,  789,
        790,  791,  792,  793,  794,  796,  797,  798,  799,  801,  804,
        805,  808,  809,  815,  819,  822,  823,  824,  827,  829,  830,
        831,  832,  833,  834,  836,  838,  840,  842,  843,  844,  845,
        846,  848,  849,  850,  851,  852,  854,  857,  858,  859,  860,
        861,  865,  868,  872,  874,  877,  879,  880,  881,  882,  884,
        885,  886,  887,  888,  889,  892,  893,  895,  896,  898,  899,
        900,  901,  903,  904,  906,  907,  908,  910,  912,  915,  917,
        918,  919,  920,  922,  924,  927,  929,  931,  933,  934,  935,
        937,  939,  944,  945,  946,  948,  951,  952,  953,  955,  956,
        960,  962,  964,  965,  968,  970,  972,  973,  974,  975,  977,
        978,  980,  986,  987,  988,  989,  991,  992,  994,  997,  998,
       1001, 1002, 1003, 1004, 1005, 1006, 1010, 1011, 1013, 1014, 1015,
       1016, 1017, 1018, 1019, 1021, 1024, 1025, 1026, 1027, 1032, 1034,
       1036, 1037, 1038, 1039, 1041, 1042, 1043, 1045, 1046, 1047, 1048,
       1049, 1051, 1054, 1055, 1059, 1060, 1062, 1065, 1067, 1068, 1069,
       1070, 1072, 1074, 1075, 1076, 1077, 1079, 1081, 1083, 1084, 1086,
       1087, 1088, 1091, 1092, 1095, 1099, 1101, 1102, 1108, 1111, 1113,
       1114, 1118, 1119, 1125, 1127, 1128, 1129, 1133, 1134, 1135, 1136,
       1138, 1139, 1140, 1142, 1144, 1146, 1147, 1149, 1150, 1152, 1154,
       1155, 1156, 1158, 1159, 1161, 1162, 1166, 1167, 1171, 1172, 1176,
       1179, 1180, 1183, 1184, 1185, 1186, 1189, 1195, 1197, 1201, 1202,
       1205, 1207, 1209, 1210, 1212, 1215, 1216, 1217, 1218, 1219, 1223,
       1224, 1226, 1227, 1228, 1230, 1233, 1235, 1236, 1237, 1240, 1243,
       1244, 1248, 1249, 1252, 1254, 1255, 1256, 1257, 1258, 1259, 1261,
       1263, 1264, 1266, 1269, 1279, 1286, 1287, 1288, 1289, 1294, 1295,
       1296, 1300, 1302, 1303, 1308, 1312, 1319, 1321, 1323, 1324, 1325,
       1326, 1327, 1329, 1331, 1335, 1336, 1337, 1339, 1343, 1346, 1347,
       1352, 1353, 1354, 1355, 1356, 1357, 1359, 1360, 1362, 1365, 1366,
       1369, 1370, 1371, 1372, 1376, 1378, 1379, 1380, 1381, 1383, 1387,
       1388, 1389, 1390, 1393, 1396, 1397, 1398, 1399, 1402, 1405, 1406,
       1407, 1410, 1411, 1413, 1420, 1424, 1425, 1426, 1427, 1429, 1431,
       1432, 1434, 1437, 1438, 1440, 1444, 1445, 1446, 1447, 1448, 1449,
       1451, 1452, 1453, 1457, 1458, 1459, 1460, 1462, 1463, 1464, 1470,
       1472, 1474, 1475, 1477, 1479, 1480, 1482, 1486, 1487, 1488, 1492,
       1497, 1498, 1501, 1502, 1503, 1504, 1511, 1513, 1515, 1516, 1517,
       1518, 1521, 1523, 1526, 1528, 1529, 1532, 1533, 1534, 1535, 1536,
       1540, 1541, 1542, 1544, 1545, 1547, 1548, 1550, 1551, 1552, 1553,
       1555, 1556])

In [51]:
irr_ts = ts.copy()
irr_ts[indexer] = np.nan
irr_ts['2012-6-1 9:50':'2012-6-1 10:00']

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00    21.0
2012-06-01 09:52:00    22.0
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00    24.0
2012-06-01 09:55:00     NaN
2012-06-01 09:56:00     NaN
2012-06-01 09:57:00     NaN
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00     NaN
2012-06-01 10:00:00     NaN
dtype: float64

In [52]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data1

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  1.0  1.0  1.0
2012-06-16  1.0  1.0  1.0
2012-06-17  1.0  1.0  1.0

In [53]:
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
data2

              a    b    c
2012-06-13  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [54]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

e:\python34\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [55]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('6/13/2012', periods=6))
data2

              a    b    c    d
2012-06-13  2.0  2.0  2.0  2.0
2012-06-14  2.0  2.0  2.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [56]:
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

e:\python34\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [57]:
spliced_filled = spliced.combine_first(data2)
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [59]:
spliced.update(data2, overwrite=False)
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [60]:
cp_spliced = spliced.copy()
cp_spliced[['a', 'c']] = data1[['a', 'c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [64]:
import pandas_datareader.data as web

In [67]:
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']

In [68]:
price

Date
2010-12-31     41.307659
2011-01-03     42.205372
2011-01-04     42.425640
2011-01-05     42.772678
2011-01-06     42.738106
2011-01-07     43.044174
2011-01-10     43.854801
2011-01-11     43.751068
2011-01-12     44.107086
2011-01-13     44.268444
2011-01-14     44.627010
2011-01-18     43.624294
2011-01-19     43.392506
2011-01-20     42.603642
2011-01-21     41.840389
2011-01-24     43.214500
2011-01-25     43.720352
2011-01-26     44.034092
2011-01-27     43.952141
2011-01-28     43.041607
2011-01-31     43.453972
2011-02-01     44.185204
2011-02-02     44.094288
2011-02-03     43.981586
2011-02-04     44.373455
2011-02-07     45.062424
2011-02-08     45.487595
2011-02-09     45.866653
2011-02-10     45.403076
2011-02-11     45.698891
                 ...
2017-11-17    170.149994
2017-11-20    169.979996
2017-11-21    173.139999
2017-11-22    174.960007
2017-11-24    174.970001
2017-11-27    174.089996
2017-11-28    173.070007
2017-11-29    169.479996
2017-11-30    171.850006
2017-12-01    171.050003
2017-12-04    169.800003
2017-12-05    169.639999
2017-12-06    169.009995
2017-12-07    169.320007
2017-12-08    169.369995
2017-12-11    172.669998
2017-12-12    171.699997
2017-12-13    172.270004
2017-12-14    172.220001
2017-12-15    173.970001
2017-12-18    176.419998
2017-12-19    174.539993
2017-12-20    174.350006
2017-12-21    175.009995
2017-12-22    175.009995
2017-12-26    170.570007
2017-12-27    170.600006
2017-12-28    171.080002
2017-12-29    169.229996
2018-01-02    172.259995
Name: Adj Close, Length: 1763, dtype: float64

In [69]:
price[-5:]

Date
2017-12-26    170.570007
2017-12-27    170.600006
2017-12-28    171.080002
2017-12-29    169.229996
2018-01-02    172.259995
Name: Adj Close, dtype: float64

In [70]:
price['2011-10-03'] / price['2011-3-01'] - 1

0.072399849856854992

In [71]:
returns = price.pct_change()
returns

Date
2010-12-31         NaN
2011-01-03    0.021732
2011-01-04    0.005219
2011-01-05    0.008180
2011-01-06   -0.000808
2011-01-07    0.007161
2011-01-10    0.018832
2011-01-11   -0.002365
2011-01-12    0.008137
2011-01-13    0.003658
2011-01-14    0.008100
2011-01-18   -0.022469
2011-01-19   -0.005313
2011-01-20   -0.018180
2011-01-21   -0.017915
2011-01-24    0.032842
2011-01-25    0.011706
2011-01-26    0.007176
2011-01-27   -0.001861
2011-01-28   -0.020716
2011-01-31    0.009581
2011-02-01    0.016828
2011-02-02   -0.002058
2011-02-03   -0.002556
2011-02-04    0.008910
2011-02-07    0.015527
2011-02-08    0.009435
2011-02-09    0.008333
2011-02-10   -0.010107
2011-02-11    0.006515
                ...
2017-11-17   -0.005552
2017-11-20   -0.000999
2017-11-21    0.018590
2017-11-22    0.010512
2017-11-24    0.000057
2017-11-27   -0.005029
2017-11-28   -0.005859
2017-11-29   -0.020743
2017-11-30    0.013984
2017-12-01   -0.004655
2017-12-04   -0.007308
2017-12-05   -0.000942
2017-12-06   -0.003714
2017-12-07    0.001834
2017-12-08    0.000295
2017-12-11    0.019484
2017-12-12   -0.005618
2017-12-13    0.003320
2017-12-14   -0.000290
2017-12-15    0.010161
2017-12-18    0.014083
2017-12-19   -0.010656
2017-12-20   -0.001089
2017-12-21    0.003785
2017-12-22    0.000000
2017-12-26   -0.025370
2017-12-27    0.000176
2017-12-28    0.002814
2017-12-29   -0.010814
2018-01-02    0.017905
Name: Adj Close, Length: 1763, dtype: float64

In [73]:
ret_index = (1 + returns).cumprod()
ret_index[0] = 1
ret_index

Date
2010-12-31    1.000000
2011-01-03    1.021732
2011-01-04    1.027065
2011-01-05    1.035466
2011-01-06    1.034629
2011-01-07    1.042039
2011-01-10    1.061663
2011-01-11    1.059151
2011-01-12    1.067770
2011-01-13    1.071676
2011-01-14    1.080357
2011-01-18    1.056082
2011-01-19    1.050471
2011-01-20    1.031374
2011-01-21    1.012897
2011-01-24    1.046162
2011-01-25    1.058408
2011-01-26    1.066003
2011-01-27    1.064019
2011-01-28    1.041976
2011-01-31    1.051959
2011-02-01    1.069661
2011-02-02    1.067460
2011-02-03    1.064732
2011-02-04    1.074219
2011-02-07    1.090898
2011-02-08    1.101190
2011-02-09    1.110367
2011-02-10    1.099144
2011-02-11    1.106306
                ...
2017-11-17    4.119091
2017-11-20    4.114975
2017-11-21    4.191474
2017-11-22    4.235534
2017-11-24    4.235776
2017-11-27    4.214473
2017-11-28    4.189780
2017-11-29    4.102871
2017-11-30    4.160246
2017-12-01    4.140879
2017-12-04    4.110618
2017-12-05    4.106744
2017-12-06    4.091493
2017-12-07    4.098998
2017-12-08    4.100208
2017-12-11    4.180096
2017-12-12    4.156614
2017-12-13    4.170413
2017-12-14    4.169203
2017-12-15    4.211568
2017-12-18    4.270879
2017-12-19    4.225366
2017-12-20    4.220767
2017-12-21    4.236744
2017-12-22    4.236744
2017-12-26    4.129259
2017-12-27    4.129985
2017-12-28    4.141605
2017-12-29    4.096819
2018-01-02    4.170171
Name: Adj Close, Length: 1763, dtype: float64

In [75]:
m_returns = ret_index.resample('BM', how='last').pct_change()
m_returns

e:\python34\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  if __name__ == '__main__':

Date
2010-12-31         NaN
2011-01-31    0.051959
2011-02-28    0.040935
2011-03-31   -0.013307
2011-04-29    0.004648
2011-05-31   -0.006569
2011-06-30   -0.034959
2011-07-29    0.163285
2011-08-31   -0.014469
2011-09-30   -0.009121
2011-10-31    0.061523
2011-11-30   -0.055783
2011-12-30    0.059655
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105283
2012-04-30   -0.025970
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012375
2012-12-31   -0.090743
2013-01-31   -0.144089
2013-02-28   -0.025286
2013-03-29    0.002854
2013-04-30    0.000271
2013-05-31    0.022419
                ...
2015-08-31   -0.066196
2015-09-30   -0.021816
2015-10-30    0.083409
2015-11-30   -0.005804
2015-12-31   -0.110228
2016-01-29   -0.075242
2016-02-29   -0.001287
2016-03-31    0.127211
2016-04-29   -0.139921
2016-05-31    0.071773
2016-06-30   -0.042660
2016-07-29    0.090063
2016-08-31    0.023652
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.021601
2016-12-30    0.047955
2017-01-31    0.047746
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-28   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-29   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-29   -0.015246
2018-01-31    0.017905
Freq: BM, Name: Adj Close, Length: 86, dtype: float64

In [76]:
m_rets = (1 + returns).resample('M', how='prod', kind='period') - 1
m_rets

e:\python34\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).prod()
  if __name__ == '__main__':

Date
2010-12         NaN
2011-01    0.051959
2011-02    0.040935
2011-03   -0.013307
2011-04    0.004648
2011-05   -0.006569
2011-06   -0.034959
2011-07    0.163285
2011-08   -0.014469
2011-09   -0.009121
2011-10    0.061523
2011-11   -0.055783
2011-12    0.059655
2012-01    0.127111
2012-02    0.188311
2012-03    0.105283
2012-04   -0.025970
2012-05   -0.010702
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012375
2012-12   -0.090743
2013-01   -0.144089
2013-02   -0.025286
2013-03    0.002854
2013-04    0.000271
2013-05    0.022419
             ...
2015-08   -0.066196
2015-09   -0.021816
2015-10    0.083409
2015-11   -0.005804
2015-12   -0.110228
2016-01   -0.075242
2016-02   -0.001287
2016-03    0.127211
2016-04   -0.139921
2016-05    0.071773
2016-06   -0.042660
2016-07    0.090063
2016-08    0.023652
2016-09    0.065504
2016-10    0.004334
2016-11   -0.021601
2016-12    0.047955
2017-01    0.047746
2017-02    0.133778
2017-03    0.048690
2017-04   -0.000070
2017-05    0.067808
2017-06   -0.057214
2017-07    0.032704
2017-08    0.106999
2017-09   -0.060244
2017-10    0.096808
2017-11    0.020278
2017-12   -0.015246
2018-01    0.017905
Freq: M, Name: Adj Close, Length: 86, dtype: float64

In [77]:
import random
random.seed(0)
import string

In [79]:
N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])
tickers = np.array([rands(5) for _ in range(N)])

In [80]:
tickers

array(['MYNBI', 'QPMZJ', 'PLSGQ', 'EJEYD', 'TZIRW', 'ZTEJD', 'XCVKP',
       'RDLNK', 'TUGRP', 'OQIBZ', 'RACXM', 'WZVUA', 'TPKHX', 'KWCGS',
       'HHZEZ', 'ROCCK', 'QPDJR', 'JWDRK', 'RGZTR', 'SJOCT', 'ZMKSH',
       'JFGFB', 'TVIPC', 'CVYEE', 'BCWRV', 'MWQIQ', 'ZHGVS', 'NSIOP',
       'VUWZL', 'CKTDP', 'SUKGH', 'AXIDW', 'HLZFK', 'NBDZE', 'WHBSU',
       'RTVCA', 'DUGTS', 'DMCLD', 'BTAGF', 'WDPGX', 'ZBVAR', 'NTDIC',
       'HCUJL', 'NFBQO', 'BTDWM', 'GILXP', 'SFWVG', 'YBZVF', 'FKQID',
       'TOVFA', 'PVNSQ', 'JULMV', 'IERWA', 'OXCKX', 'BRIEH', 'YPLTJ',
       'VLSUT', 'EWJMX', 'NUCAT', 'GWKFH', 'HUOMW', 'VSNBM', 'WSNYV',
       'WBFOC', 'IWFOQ', 'PRTYA', 'BPKJO', 'BZZNG', 'RUCXE', 'AMVNK',
       'AGAWY', 'AVQTD', 'GDTUG', 'JIWFD', 'PMUCA', 'IOZZD', 'IEUQU',
       'ULDEI', 'ABBGV', 'IRKLS', 'BXWTU', 'PWUOU', 'NLRFG', 'MSJAE',
       'EIKKZ', 'LWCKY', 'TBBIF', 'ESJLM', 'REJDP', 'XHBJF', 'QXCJM',
       'KJNDD', 'RPPKZ', 'ZKDPD', 'WPNBJ', 'KXVEF', 'USMZU', 'CCZCG',
       'XHBMA', 'DMRQJ', 'OPZSW', 'VGNCL', 'HISYF', 'NGLDC', 'WAQOY',
       'VGDPM', 'IGUBZ', 'GTEDG', 'OMLRE', 'DTPES', 'MUVNQ', 'PVKPP',
       'UVGRT', 'HAKWX', 'KKBQE', 'ITZEM', 'SJWWZ', 'PCZCQ', 'BCHEB',
       'JAYOK', 'FZEUO', 'LQMQQ', 'BSCVZ', 'ZQYTC', 'XNYGJ', 'RTNPZ',
       'MTSHZ', 'AVAXF', 'JQSIK', 'CPIJY', 'NMZMB', 'FUEHJ', 'XKBBP',
       'NEPTW', 'CVWEZ', 'LNBTO', 'MOBDP', 'YEABT', 'TEUKD', 'WRULG',
       'MZYYP', 'DBTWO', 'TUKUD', 'VWTJZ', 'EMZJX', 'VZDQZ', 'GBZMO',
       'LYGOL', 'ZUCBB', 'PIAQV', 'SSGHC', 'YUYQW', 'QNQJD', 'ENSNC',
       'DNCDN', 'YEXAZ', 'ONVNA', 'PKXIC', 'LCDLW', 'ALLFA', 'HLCTE',
       'GAGVV', 'XDXAJ', 'LWATH', 'EFODP', 'LWIEA', 'GLKPJ', 'JRUKF',
       'SCDRS', 'JFMEE', 'ZHKQH', 'HYFJL', 'NVBET', 'AMCWC', 'ENJRN',
       'XESNJ', 'ULCHO', 'ULUQB', 'MNANX', 'KOGLJ', 'PCFZD', 'IDRTW',
       'EZWOM', 'FYNNF', 'HOKQE', 'LOUUC', 'PYGJA', 'WOTOA', 'GJDYU',
       'JRTEN', 'WYPCV', 'PYHRY', 'MIUAD', 'IVBAI', 'MQSWM', 'ODXIL',
       'JYVGT', 'CBCZI', 'JRKDQ', 'HYFCN', 'JJQES', 'QUGRD', 'NURMX',
       'YZIJO', 'LSUEF', 'DWDMM', 'SOERV', 'JLUPX', 'NGPPW', 'QKPUB',
       'OJEXP', 'BTGAL', 'PMAQC', 'VCVXV', 'MALBD', 'TAIUW', 'JXHEY',
       'SJGDN', 'OWKMF', 'KNUVN', 'EOWEQ', 'KEGFO', 'LZMNZ', 'PMXHZ',
       'GOGSW', 'BMBHU', 'CFLBX', 'UVFHT', 'JTCWQ', 'YJYLN', 'OBUWQ',
       'VURXN', 'SOPIW', 'PGKIB', 'BBFLA', 'JUAEC', 'ZNVHT', 'MRHOG',
       'KTDTC', 'ZKKRO', 'KIAQB', 'GLCGQ', 'LGGIV', 'XXJJQ', 'MIPLW',
       'HBJRC', 'AOPXO', 'BZNPO', 'ODCCH', 'DYENG', 'OTCNR', 'YMBFH',
       'PHEIL', 'KNDRJ', 'TRZGW', 'JYOQT', 'ORUII', 'HADTZ', 'WDFXN',
       'HGJXV', 'AXRQN', 'BDMUI', 'DXSLH', 'VWWRV', 'JHXHC', 'QJVKH',
       'LUPJS', 'FEZAR', 'QKLSU', 'AZEME', 'FQCEY', 'GZYPS', 'YWGHX',
       'EHYML', 'TSEUP', 'DTAQT', 'LPOJA', 'HRUFV', 'PZXPR', 'KWCIE',
       'TMWGK', 'ZJMBG', 'BKXXH', 'KOVXV', 'VHILV', 'FJALS', 'RBXUE',
       'LAPUB', 'AHBAH', 'UKCBL', 'VNEGO', 'NELJF', 'UKXZX', 'NMANI',
       'RRZXV', 'WOYBS', 'DNMFA', 'QETVQ', 'XWECK', 'HFHAZ', 'FXZVR',
       'FWCNT', 'DTUOW', 'ETTBI', 'KZXXM', 'AUBPC', 'LJVEO', 'HQLFX',
       'YMKIZ', 'PMAJQ', 'JRPBY', 'RSRIV', 'BOMXD', 'MLPBA', 'IXBIV',
       'VSWYJ', 'VYGYQ', 'QKMIG', 'DSKZH', 'SVXRV', 'LFEKX', 'ASBSE',
       'LLJUJ', 'KPZMT', 'NFAZE', 'SBOEK', 'AXPVV', 'YIXTG', 'CRNIF',
       'QFCVU', 'FSDQU', 'ZRTMY', 'NIJJA', 'NYWII', 'RQRKK', 'GWZNZ',
       'EAYQE', 'ZVWZS', 'MLOBR', 'NUTZZ', 'YHALQ', 'FVGUL', 'UWPAX',
       'XHSHI', 'FYNCS', 'OHXWO', 'QZZWD', 'GFOCN', 'UMIIN', 'YYLTK',
       'CJAPA', 'YIGYM', 'MNYUU', 'VMWBS', 'OLSES', 'WIKAM', 'PQEBC',
       'SLLAC', 'GWDVR', 'PBKAK', 'MEYUI', 'NVETE', 'MJQBF', 'EEPWU',
       'WYXBX', 'QBRWX', 'WUMFL', 'ZSCCR', 'FIGZI', 'KWWIZ', 'IQOEY',
       'OREBU', 'SFUQB', 'YKCGU', 'ZOTHZ', 'OQFWK', 'UEPYR', 'BRCQK',
       'AYCDN', 'TLSOK', 'MQLUD', 'EKAFX', 'EAKTG', 'BNUBW', 'JZMBT',
       'YZWFL', 'CNBOL', 'TTYIV', 'JSZON', 'FAOZI', 'GMCLD', 'DALAF',
       'MTWUA', 'KOZRX', 'WPPCB', 'RMZZI', 'AUQDC', 'KLDPB', 'EQUZJ',
       'BAMKF', 'RWEFF', 'YFUVH', 'TKAPU', 'VMBHH', 'UJKFH', 'LHFNO',
       'LSEMS', 'YAFSA', 'VMWZF', 'EAAKQ', 'ABBYD', 'STEYE', 'VZMZA',
       'NNSVK', 'WHELQ', 'GRMCE', 'NSVLD', 'NNHPM', 'HMHUP', 'MSCII',
       'QLRAT', 'TYPHI', 'BTKZM', 'UDRBE', 'WMAYN', 'XMNDW', 'OTOFF',
       'KPNFS', 'JYQDL', 'LEULY', 'PUQYB', 'GIFXS', 'KJMUB', 'JRNBV',
       'NIMXG', 'LEEDT', 'LFANS', 'MOCUW', 'WVCYN', 'RXREF', 'EGFHA',
       'QEPLT', 'XJWZK', 'VDZNY', 'IFKUQ', 'KRWEM', 'XXRJH', 'MLMPQ',
       'JNNDV', 'EEAST', 'UWQDW', 'YUWGT', 'UTQDI', 'WXTFM', 'CZBAD',
       'LXPKD', 'VOLSW', 'IVPZY', 'HFRRC', 'YQFAU', 'FQNTV', 'GOWVM',
       'IASEM', 'FOSBM', 'ZCUSM', 'KHQOB', 'PTDIQ', 'PRUMP', 'IFHRL',
       'FJTEO', 'CCPMS', 'NRCIP', 'HDJEL', 'ZDEVB', 'VESRG', 'ABMRW',
       'YTPWW', 'DPRLY', 'KDVAH', 'HPJIH', 'APLQK', 'CCJSN', 'HXLMY',
       'EHJGX', 'YPVZL', 'JMTEY', 'DMLQP', 'HUWLU', 'LNILM', 'YYWJD',
       'PJDOE', 'LHXFK', 'PHDVM', 'MOQOS', 'THVMQ', 'JPHKQ', 'VACPK',
       'MHNBS', 'YBNCI', 'GXKFD', 'FZWLA', 'HBAMR', 'AEDTT', 'GCXOG',
       'AQTNC', 'RFHHN', 'MPZAN', 'GMYBT', 'IASLW', 'LKVOU', 'ETQCI',
       'DWDIA', 'WETYV', 'EMGSV', 'KGNQQ', 'DRDWP', 'DQOPF', 'ORKEN',
       'IMCSQ', 'KHOHL', 'PYNAO', 'XARMY', 'YOHNH', 'IPPEH', 'OJLUP',
       'TEQVC', 'GJQUV', 'DBEKB', 'KTZFY', 'OMVGN', 'PGFMB', 'ZZYKY',
       'VQGXK', 'FQRWT', 'SNEUW', 'TPVSG', 'TOBHP', 'TKRXG', 'ABBEH',
       'OVTHV', 'VDYQN', 'UUJVK', 'PVGFL', 'RLWOM', 'OVKOC', 'EHYDY',
       'EMOWR', 'GLWBA', 'MGCNS', 'SZNRG', 'UAVEQ', 'UPJMR', 'RCCTX',
       'PYAGN', 'TYLJC', 'XAYZH', 'TASQL', 'EOIDS', 'OIHMM', 'XQKHS',
       'ICBEK', 'USSPC', 'QPNKM', 'XADNT', 'VEYEA', 'DWNHB', 'UIIMD',
       'LJLTZ', 'UGXRR', 'BKQRA', 'FPAUI', 'KELDT', 'RNZYC', 'ISDQC',
       'SEPBQ', 'ZHLDR', 'WGFWV', 'HMGTW', 'XOLFI', 'XLRGG', 'OKEIR',
       'VYYAC', 'VKJWZ', 'KBCTA', 'JZDFW', 'IGQRL', 'OCNQR', 'NDCSO',
       'KFJHU', 'NVWJB', 'AAUIC', 'VKKRU', 'JBZWH', 'WQEIT', 'BZMNI',
       'SHIKZ', 'RPOWD', 'NLFQB', 'HWZPM', 'AHCJD', 'FEOAY', 'LQNDQ',
       'HPJIM', 'NPWBF', 'WQLGH', 'EHZJZ', 'EFRIR', 'AFHXN', 'WFHYR',
       'ESVFX', 'HQYJZ', 'ZWXAX', 'OZGBN', 'FMQMG', 'MRQPD', 'ECRAC',
       'AXHXM', 'OVINL', 'VMIXC', 'YFSHX', 'GBYBQ', 'ZCWOH', 'OWYYV',
       'ETUQJ', 'ATELV', 'LLJQU', 'WIEAP', 'ZXGTM', 'KPJOE', 'PJZWK',
       'LUTMM', 'SMWQJ', 'VYSHG', 'NGIQF', 'QEZTQ', 'YRYQU', 'PKINJ',
       'OUQBZ', 'XGIOW', 'CAGTD', 'IZAGF', 'TFVLT', 'ZIAVV', 'AATFJ',
       'HMPXL', 'LCSNZ', 'DWAYF', 'ATRIL', 'XGMGK', 'FZFPV', 'ETSQN',
       'SUHAB', 'NTBUU', 'UEQCN', 'JKUUT', 'GWBKE', 'KVXIP', 'PTKIU',
       'COZYF', 'DQIRW', 'MTONV', 'FTNYE', 'VVYZD', 'SYDFX', 'PJVXD',
       'VYNII', 'ZDULQ', 'RZCAB', 'TAYED', 'NMZPA', 'KUECW', 'MUSXH',
       'BGNAB', 'TZMER', 'XWJNM', 'RBXOR', 'EREUG', 'SFCSP', 'JIIGM',
       'VAUBQ', 'YYCAU', 'JEYEY', 'QEDKA', 'XKEKS', 'YCCLG', 'IOKVP',
       'PRQCC', 'KOMYM', 'RPRNQ', 'CHEUM', 'QKECE', 'EBMUS', 'DVCQI',
       'SJLVX', 'PMSKX', 'VTOQL', 'HYQBX', 'MZLKZ', 'QAHSC', 'PDLNY',
       'THRAQ', 'QDBSL', 'BLFKI', 'PPYNA', 'ZUYHU', 'UPXXL', 'VZZXF',
       'BYXPQ', 'VFMWJ', 'VSPGA', 'WOTTV', 'FTOKS', 'KNSYU', 'EQNMH',
       'LMJHG', 'IHRSL', 'OHTKT', 'UEKHE', 'YIRFR', 'WWTDO', 'PGWFT',
       'LTHWZ', 'CRPGJ', 'MIQGL', 'NKXAB', 'GGTFR', 'OCIQJ', 'WPNKV',
       'XWWMB', 'DBKFY', 'ITXRO', 'JRNPL', 'HVCXC', 'ZUCQA', 'VSQKX',
       'TDSHA', 'BZDXJ', 'CSMWE', 'YSTQG', 'IJFFS', 'HEEHI', 'PZJEX',
       'TIGCE', 'VNFGS', 'ALRVP', 'VEYXI', 'CXWTW', 'IZTXH', 'AEGXS',
       'VANEE', 'PRBQK', 'HVFOK', 'VOHUU', 'XIVWG', 'DLPIL', 'RSJGJ',
       'RMCFM', 'DSUDQ', 'EWOEN', 'IXRGY', 'ZFXCI', 'OKMQB', 'LMXXM',
       'REYWW', 'RSEUB', 'JTOQY', 'SNGOG', 'MCDRM', 'DQVOX', 'UFBGH',
       'HDTMN', 'CRGQG', 'GPCGD', 'QETGR', 'SQUTN', 'TMUIV', 'ZPUUT',
       'ZALLY', 'ZGWUB', 'GOGQV', 'GAEHO', 'PCTIU', 'JMKXX', 'VWJVC',
       'TDPLT', 'TUCHE', 'NHAPJ', 'EQULX', 'VEDQK', 'KVXCL', 'ZGGJQ',
       'WNUXX', 'MMBEO', 'CJUVE', 'QGTPL', 'ESESN', 'IXGDF', 'EORNF',
       'BJYPS', 'CVLUD', 'DPHQB', 'AWVZS', 'COIXS', 'IWRZM', 'FHUDV',
       'SXYQF', 'PUUHA', 'HEWTV', 'YEUEY', 'ZSTFC', 'DIDIT', 'OSYIS',
       'NBWCE', 'OBLKI', 'UNMAJ', 'UHGYC', 'SXEHQ', 'GOKAY', 'INSQR',
       'EWKWS', 'URMGJ', 'DOUUI', 'HZUIY', 'JCLEO', 'AMUOB', 'UYYJQ',
       'TYNOT', 'SXQGF', 'AIDMW', 'IGPPI', 'QMETP', 'IFWAG', 'KIWWD',
       'VANJK', 'TXGKN', 'YEUDH', 'LYXPO', 'FVLNN', 'NLSDC', 'RZOED',
       'AZQWM', 'UPHMU', 'XDNBV', 'JTFJI', 'QDRVV', 'KAEAC', 'KYKOG',
       'HLVSO', 'IRFOM', 'ADADK', 'XGJRD', 'QYJCD', 'RTJXB', 'HDVFO',
       'FFOIW', 'FOWSA', 'RMADD', 'JCUYM', 'GIXMH', 'OUTQR', 'LFNUZ',
       'ASNTH', 'JLQKP', 'UYXOX', 'WILIY', 'FFHOK', 'UALPT', 'ZWJVH',
       'ADOXQ', 'FGMWT', 'KREBP', 'NOZOL', 'AGSGC', 'PEVCX', 'QWVRM',
       'TIGCN', 'ARPWX', 'KXAGT', 'JYYZN', 'OWQWJ', 'CBCLM', 'UNMZU',
       'WYUYH', 'JPMRA', 'UNUJV', 'PEMVN', 'MWYSX', 'TJPRL', 'JNSUY',
       'FLBNO', 'OJCVH', 'KHMAT', 'KEFPC', 'YDFTB', 'HUFAU', 'QVNVN',
       'FJMOJ', 'RBFPF', 'DVDPX', 'JXZJJ', 'MBSIK', 'YOCBY', 'UWJHO',
       'UJRGM', 'CNBBZ', 'CLAJJ', 'BABTB', 'ETFPU', 'CSEAX', 'REZDC',
       'WCTYV', 'DGDPN', 'CDPWO', 'QXFRD', 'ELXNQ', 'ECUQB', 'XRHDX',
       'ZMLQK', 'RWSRM', 'JHSWC', 'ETMYL', 'XJLQL', 'AAAEI', 'XVWGU',
       'EFDPX', 'PVEII', 'EBFVL', 'XKGUD', 'QZPEU', 'IKGUD', 'TVWHL',
       'ZMYDI', 'YMRLB', 'UKHMB', 'YNRIY', 'ZFIBX', 'IXCKU', 'NAYVI',
       'HUYWF', 'ILQUD', 'FPGST', 'SCNJW', 'VBIAA', 'ZTFKF', 'MHSRG',
       'BURYG', 'ORVOS', 'TKLLD', 'YZANL', 'FPHXV', 'XUZXX', 'UMYTA',
       'VGTXP', 'NYMFE', 'VNMOX', 'XUXGI', 'CWFSA', 'JXFDE', 'IFMIQ',
       'UNKRX', 'NPODI', 'TKIIX', 'JMTQA', 'PUQQG', 'NIXUY', 'NXBAN',
       'RCZIW', 'ZAAPV', 'ZMRLR', 'PQORX', 'XWPSF', 'ZSYAT', 'LGJNC',
       'HDFZT', 'OUEPK', 'OWEPZ', 'IPKWQ', 'XZHYB', 'LQIMR', 'UTDJE',
       'QEECK', 'GBAPP', 'CSQBE', 'UOSES', 'ICJLE', 'OLBKD', 'DTVDJ',
       'VJSLF', 'YAVYP', 'MMUGC', 'NIPNV', 'PMENZ', 'GYNUY', 'GICZE',
       'OKLJZ', 'ZOKHF', 'OEWKZ', 'HPEDR', 'STOXK', 'FCVKF'],
      dtype='<U5')

In [81]:
M = 500
df = DataFrame({'Momentum': np.random.randn(M) / 200 + 0.03,
                'Value': np.random.randn(M) / 200 + 0.08,
                'ShortInterest': np.random.randn(M) / 200 - 0.02},
               index=tickers[:M])
df

       Momentum  ShortInterest     Value
MYNBI  0.034373      -0.011814  0.091458
QPMZJ  0.040667      -0.021056  0.077152
PLSGQ  0.033631      -0.010332  0.079056
EJEYD  0.029132      -0.017466  0.081897
TZIRW  0.032278      -0.026017  0.073981
ZTEJD  0.030567      -0.025788  0.079194
XCVKP  0.038866      -0.025168  0.077526
RDLNK  0.025154      -0.017656  0.083855
TUGRP  0.034398      -0.016836  0.085232
OQIBZ  0.028200      -0.024085  0.082921
RACXM  0.025687      -0.022236  0.079325
WZVUA  0.027399      -0.013852  0.069883
TPKHX  0.032525      -0.016702  0.080291
KWCGS  0.022468      -0.020543  0.071710
HHZEZ  0.031391      -0.018988  0.077690
ROCCK  0.016398      -0.026396  0.080113
QPDJR  0.029522      -0.020461  0.087741
JWDRK  0.025309      -0.022991  0.076116
RGZTR  0.036096      -0.019097  0.085099
SJOCT  0.027869      -0.016555  0.079620
ZMKSH  0.026437      -0.016719  0.075604
JFGFB  0.029267      -0.030208  0.076741
TVIPC  0.027195      -0.014710  0.078618
CVYEE  0.030713      -0.017791  0.074820
BCWRV  0.036925      -0.027028  0.076770
MWQIQ  0.028418      -0.022749  0.074379
ZHGVS  0.031662      -0.016885  0.074160
NSIOP  0.030407      -0.024311  0.075379
VUWZL  0.021013      -0.019063  0.080718
CKTDP  0.027033      -0.020753  0.074225
...         ...            ...       ...
CCPMS  0.026788      -0.025707  0.088397
NRCIP  0.032189      -0.019783  0.079217
HDJEL  0.040704      -0.034170  0.086615
ZDEVB  0.030321      -0.016034  0.086979
VESRG  0.028384      -0.010320  0.076991
ABMRW  0.032196      -0.018717  0.078940
YTPWW  0.025065      -0.024734  0.074354
DPRLY  0.031592      -0.014233  0.072112
KDVAH  0.033968      -0.030441  0.082108
HPJIH  0.024255      -0.022226  0.085875
APLQK  0.033364      -0.019486  0.085863
CCJSN  0.031544      -0.014235  0.086746
HXLMY  0.033375      -0.018909  0.075039
EHJGX  0.039745      -0.020598  0.081268
YPVZL  0.028775      -0.029309  0.075578
JMTEY  0.034539      -0.027545  0.080090
DMLQP  0.031377      -0.019961  0.092842
HUWLU  0.019235      -0.012702  0.084625
LNILM  0.029828      -0.024501  0.088966
YYWJD  0.030523      -0.019930  0.074366
PJDOE  0.025875      -0.017820  0.080950
LHXFK  0.028739      -0.016047  0.088148
PHDVM  0.033926      -0.013235  0.086007
MOQOS  0.020794      -0.011030  0.082216
THVMQ  0.027001      -0.020098  0.084863
JPHKQ  0.027103      -0.015950  0.082356
VACPK  0.033962      -0.020247  0.086270
MHNBS  0.034475      -0.014597  0.078991
YBNCI  0.024062      -0.021281  0.081283
GXKFD  0.030669      -0.033165  0.072471

[500 rows x 3 columns]

In [82]:
ind_names = np.array(['FINANCIAL', 'TECH'])
ind_names

array(['FINANCIAL', 'TECH'],
      dtype='<U9')

In [83]:
sampler = np.random.randint(0, len(ind_names), N)
sampler

array([1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0])

In [84]:
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')
industries

MYNBI         TECH
QPMZJ         TECH
PLSGQ         TECH
EJEYD    FINANCIAL
TZIRW         TECH
ZTEJD    FINANCIAL
XCVKP    FINANCIAL
RDLNK    FINANCIAL
TUGRP    FINANCIAL
OQIBZ    FINANCIAL
RACXM         TECH
WZVUA    FINANCIAL
TPKHX         TECH
KWCGS    FINANCIAL
HHZEZ         TECH
ROCCK         TECH
QPDJR    FINANCIAL
JWDRK    FINANCIAL
RGZTR         TECH
SJOCT         TECH
ZMKSH    FINANCIAL
JFGFB    FINANCIAL
TVIPC         TECH
CVYEE    FINANCIAL
BCWRV    FINANCIAL
MWQIQ    FINANCIAL
ZHGVS         TECH
NSIOP         TECH
VUWZL    FINANCIAL
CKTDP    FINANCIAL
           ...
XWPSF    FINANCIAL
ZSYAT         TECH
LGJNC    FINANCIAL
HDFZT         TECH
OUEPK         TECH
OWEPZ         TECH
IPKWQ    FINANCIAL
XZHYB         TECH
LQIMR    FINANCIAL
UTDJE         TECH
QEECK         TECH
GBAPP    FINANCIAL
CSQBE    FINANCIAL
UOSES    FINANCIAL
ICJLE         TECH
OLBKD         TECH
DTVDJ    FINANCIAL
VJSLF         TECH
YAVYP    FINANCIAL
MMUGC         TECH
NIPNV    FINANCIAL
PMENZ         TECH
GYNUY         TECH
GICZE         TECH
OKLJZ         TECH
ZOKHF    FINANCIAL
OEWKZ         TECH
HPEDR         TECH
STOXK    FINANCIAL
FCVKF    FINANCIAL
Name: industry, Length: 1000, dtype: object

In [85]:
by_industry = df.groupby(industries)
by_industry

In [86]:
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.029801      -0.019645  0.080338
TECH       0.029930      -0.019598  0.080291

In [87]:
by_industry.describe()

          Momentum                                                    \
             count      mean       std       min       25%       50%
industry
FINANCIAL    274.0  0.029801  0.005230  0.017784  0.026346  0.029470
TECH         226.0  0.029930  0.005297  0.016398  0.026187  0.029723

                              ShortInterest              ...               \
                75%       max         count      mean    ...          75%
industry                                                 ...
FINANCIAL  0.033490  0.042719         274.0 -0.019645    ...    -0.016180
TECH       0.033541  0.043739         226.0 -0.019598    ...    -0.015997

                     Value                                                    \
                max  count      mean       std       min       25%       50%
industry
FINANCIAL -0.006048  274.0  0.080338  0.005242  0.067116  0.076582  0.080613
TECH      -0.005274  226.0  0.080291  0.004997  0.069056  0.076905  0.079861


                75%       max
industry
FINANCIAL  0.083982  0.092842
TECH       0.083742  0.092673

[2 rows x 24 columns]